<html>
  <%- include('../partials/head') %>
  <body>
    <div class="main-container">
      <%- include('../partials/header') %>
      <h1>Messages</h1>
      <div class="msg-container">
        <% messages.forEach((message) => { %>
          <div class="message-div">
            <h2 class="username"><%= message.username %></h2>
            <span class="message-date"><%= message.added %></span>
            <p class="message-txt"><%= message.message %></p>
            <a class="open-msg-btn" href="/message/<%= message.id %>">Open</a>
          </div>
        <% }); %>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>