<html>
  <%- include('../partials/head') %>
  <body>
    <div class="main-container">
      <%- include('../partials/header') %>
      <h1>Messages</h1>
      <div class="msg-container">
        <% messages.forEach((message) => { %>
          <div class="message-div">
            <h4 class="username"><%= message.user %></h4>
            <span class="message-date"><%= message.added %></span>
            <p class="message-txt"><%= message.text %></p>
            <a href="/message/<%= message.id %>"><button class="open-msg-btn">Open</button></a>
          </div>
        <% }); %>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>