<html>
<%- include('../partials/head') %>
<body>
  <div class="main-container">
    <%- include('../partials/header') %>
    <% messages.forEach((message) => { %>
    <% if (message.id == param.id) { %>
    <div class="message-div">
      <h4> User: <%= message.user %></h4>
      <p> Message: <%= message.text %></p>
      <p> Time: <%= message.added %></p>
    </div>
    <% } else {%>
    <% return %>
    <% }}); %>
    <%- include('../partials/footer') %>
  </div>
</body>

</html>