<html>
<%- include('../partials/head') %>
<body>
  <div class="main-container">
    <%- include('../partials/header') %>
    <% messages.forEach((message) => { %>
    <% if (message.id == param.id) { %>
    <div class="message-div">
      <h4 class="username"><%= message.user %></h4>
      <span class="message-date"><%= message.added %></span>
      <p class="message-txt"><%= message.text %></p>
      <a href="/"><button class="back-btn">Back</button></a>
    </div>
    <% } else {%>
    <% return %>
    <% }}); %>
    <%- include('../partials/footer') %>
  </div>
</body>

</html>