<html>
<%- include('../partials/head') %>
<body>
  <div class="main-container">
    <%- include('../partials/header') %>
    <% messages.forEach((message) => { %>
    <% if (message.id == param.id) { %>
    <article class="message-div">
      <h1 class="username"><%= message.username %></h1>
      <span class="message-date"><%= message.added %></span>
      <p class="message-txt"><%= message.message %></p>
      <a class="back-btn" href="/">Back</a>
    </article>
    <% } else {%>
    <% return %>
    <% }}); %>
    <%- include('../partials/footer') %>
  </div>
</body>

</html>